$color-blue:#70a1ff;
$color-dark-blue:#3742fa;
$color-menu-bg:#7f8c8d;
$color-menu-item-bg:#95a5a6;

$color-nav:#fff;
$color-main-bg:#f4f4f4;
$color-font:#625a5a;


.text-btn{
    color: $color-blue;
    cursor: pointer;
    &:hover{
        color:$color-dark-blue;
        text-decoration: underline;
    }
}